body {
	color: white;
	background-color: black;
	font-family: "Consolas", monospace, monospace;
	font-size: 16;
}

.centerBox {
	margin: 100px;
	padding: 100px;
	align-self: center;
	vertical-align: center;
	text-align: left;
	width: 250px;
}

input[type=password] {
	color: white;
	background-color: black;
    border: none;
    font-family: "Consolas", monospace, monospace;
    font-size: 16;
}

#p0 {
	visibility: visible;
}

#p1 {
	visibility: hidden;
}

.iconButton {
	min-height: 96px;
	min-width: 128px;
	vertical-align: top;
	align-items: center;
	position: relative;
}

.iconTitle {
	color: black;
	vertical-align: baseline;
	overflow-wrap: break-word;
	/*position: absolute;*/
	bottom: 5%;
	left: 5%;

}